################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DatabaseWizard/.vs/DatabaseWizard/v16
/DatabaseWizard/.vscode
/DatabaseWizard/bin
/DatabaseWizard/obj